.root {
    /*-fx-background-color:#91d9ff;*/
    -fx-background-image: url("../images/blue.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.hbox {
    -fx-padding: 15px;
    -fx-spacing: 15px;
}

.scroll-pane > .viewport {
    -fx-background-color: #00529B;
}

.search {
    -fx-background-image: url("../images/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.button {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 3, 5);

    -fx-border-radius: 3px;
    -fx-border-style: none;
    -fx-border-width: 2px;

    -fx-font-color: #00529B;

    -fx-background: #ffbb00; /* Old browsers */
    -fx-background-color: linear-gradient(to bottom, #ffaa00 0%, #ffff00 50%, #ffff00 51%, #ffaa00 100%); /* W3C */
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 8, 0, 5, 8);

    -fx-border-radius: 3px;
    -fx-border-style: none;
    -fx-border-width: 2px;

    -fx-font-color: #323232;

    -fx-background: #FFFF00; /* Old browsers */
    -fx-background-color: linear-gradient(to bottom, #FF8D00 0%, #FFFF00 50%, #FFFF00 51%, #FF8D00 100%); /* W3C */
    /*
    -fx-border-style: solid none solid none;
    -fx-border-width: 2px;
    -fx-margin:0px; */
}

#title {
    -fx-font-color: #FFFC00;
    -fx-font-family: "Lato", Helvetica, Arial, sans-serif;
    -fx-font-size: 4.5em;

}

#form-label {
    -fx-font-size: 1.6em;
    -fx-color: #F1AE11;
}

#wijn-label {
    -fx-font-size: 2em;
    -fx-color: #F1AE11;
}

.form {
    -fx-padding: 0px 100px 0px 100px;
    -fx-color: #F1AE11;
}

